/* CSS used here will be applied after bootstrap.css */

body { 
 /*background: url('../images/loginbg.jpg') no-repeat center center fixed; */
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.panel-default {
 opacity: 0.9;
 margin-top:30px;
}
.form-group.last {
 margin-bottom:0px;
}


.btn-link-1.btn-link-1-facebook {
    background: #4862a3 none repeat scroll 0 0;
    }

    .btn-link-1 {
    background: #4aaf51 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 16px;
    margin: 5px;
    padding: 16px 20px 0;
}

a, a:hover, a:focus {
    color: #4aaf51;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn-link-1.btn-link-1-twitter {
    background: #55acee none repeat scroll 0 0;
}

.btn-link-1.btn-link-1-google-plus {
    background: #dd4b39 none repeat scroll 0 0;
}

.btn-link-1 i {
    font-size: 20px;
    line-height: 20px;
    padding-right: 5px;
    vertical-align: middle;
}