/* CSS used here will be applied after bootstrap.css */
/*CSS for Login page*/
body {
    /*background: url('../images/loginbg.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top: 30px;
}

.form-group.last {
    margin-bottom: 0px;
}

.btn-link-1.btn-link-1-facebook {
    background: #4862a3 none repeat scroll 0 0;
}

.btn-link-1 {
    background: #4aaf51 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 16px;
    margin: 5px;
    padding: 16px 20px 0;
}

a, a:hover, a:focus {
    color: #4aaf51;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn-link-1.btn-link-1-twitter {
    background: #55acee none repeat scroll 0 0;
}

.btn-link-1.btn-link-1-google-plus {
    background: #dd4b39 none repeat scroll 0 0;
}

.btn-link-1 i {
    font-size: 20px;
    line-height: 20px;
    padding-right: 5px;
    vertical-align: middle;
}



/*CSS for Questions page*/

.question-section{ 
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    margin: 3% 3% 5% 10%;
    width: 80%
}

.question-content input , .description-content textarea{ 
	border: none;
	width: 35%;
	line-height: 15px;
	padding: 11px 0; 
	border-radius: 20px;
	box-shadow: 0 2px 8px #c4c4c4 inset;
	text-align: left;
	font-size: 14px;
	font-family: inherit;
	color: #738289;
	font-weight: bold;
	outline: none;
	text-indent: 40px;
}


.question-content, .description-content, .save-section{
	padding:10px;
}

/*CSS for Register page*/

#register {
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px gray;
    margin-top: 3%;
    margin-bottom: 50px;
}

#register div {
    padding: 10px;
}

/*CSS for Reports page*/

table.reports-table, th, td {
    border: 1px solid gray;
	
}
.reports-table th, td {
    padding: 15px;
    text-align: center;
}
table.reports-table{
	margin:0px auto;
	border-radius: 5px;
    box-shadow: 0 5px 10px gray;
    margin-top: 3%;
    width: 80%;
}
 
 /*CSS for Home page*/
 .query-section{
 	 font-size: 18px;
    padding: 10px;
    font-family: "Times New Roman", Georgia, Serif;
 }