<div class="container" ng-controller="GraphsController">
    <div class="row"> 
    	 <pie-chart data="chartData" title="{{chartTitle}}" width="{{chartWidth}}" height="{{chartHeight}}" select="selectRow(selectedRowIndex)"></pie-chart> 
	    <div class="left">
	         <h2>Chart Data</h2> 
	        <table>
	            <tr ng-repeat="row in chartData" ng-class="rowClass($index)">
	                <td>
	                    <input ng-model="row[0]">
	                    <input ng-model="row[1]">
	                    <button ng-click="deleteRow($index)">&times;</button>
	                </td>
	            </tr>
	        </table>
	        <button ng-click="addRow()">Add new row</button>
	    </div>
	    <div class="right">
	         <h2>Chart Info</h2> Title:
	        <input ng-model="chartTitle" class="title">
	        <br/>Width:
	        <input ng-model="chartWidth">
	        <br/>Height:
	        <input ng-model="chartHeight">
	        <br/>
	    </div> 
    </div>
</div>