<div class="container">
        <div class="row">
        <div  ng-controller="QuestionsController" class="questions-container">
        <div class="pull-right add-section">
            <button class="add-icon" ng-click="addQuestion()"></button> 
        </div>
            <form>
                <div class="question-section col-md-8" ng-show="myVar">
                    <div class="question-content">
                        <label>Enter Your Question</label> 
                        <input type="text" name="question" ng-model="newquestion.question"/>
                    </div>
                    <div class="description-content">
                         <label>Type of Question</label> 
                       <!--  <textarea name="typeOfQuestion" ng-model="newquestion.type">
                        </textarea> -->
                        <input type="radio" name="typeOfQuestion" value="singleline">SingleLine 

                        <input type="radio" name="typeOfQuestion" value="multiline">MultiLine
                    </div>
                    <div class="save-section">
                         <input type="hidden" ng-model="newquestion.id" />
                        <button class="btn btn-info" ng-click="saveQuestion()">SaveQuestion</button>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Entered Question</th>
                    <th>Type of Question</th>
                     
                    <th>Action</th>
                </tr>
                <tr ng-repeat="detail in details">
                    <td>{{detail.Text}}</td>
                    <td>{{detail.Type}}</td> 
                    <td>
                        <!-- <a href="" ng-click="edit(detail.id)">Deactivate</a>
                         <br/> -->
                       <!--  <a href="" ng-click="delete(detail.id)">Deactivate</a>  -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


 