<div class="container">
        <div class="row">
        <div  ng-controller="QuestionsController" class="questions-container">
        <div class="pull-right add-section">
            <button class="add-icon" ng-click="addQuestion()"></button> 
        </div>
            <form>
                <div class="question-section col-md-8" ng-show="myVar">
                    <div class="question-content">
                        <label>Enter Your Question</label> 
                        <input type="text" name="question" ng-model="newquestion.question"/>
                    </div>
                    <div class="description-content">
                         <label>Type of Question</label> 
                       <!--  <textarea name="typeOfQuestion" ng-model="newquestion.type">
                        </textarea> -->
                        <input type="radio" name="typeOfQuestion" value="singleline">SingleLine 
                        
                        <input type="radio" name="typeOfQuestion" value="multiline">MultiLine
                    </div>
                    <div class="save-section">
                         <input type="hidden" ng-model="newquestion.id" />
                        <button class="btn btn-info" ng-click="saveQuestion()">SaveQuestion</button>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Entered Question</th>
                    <th>Type of Question</th>
                     
                    <th>Action</th>
                </tr>
                <tr ng-repeat="detail in details">
                    <td>{{detail.question}}</td>
                    <td>{{detail.type}}</td> 
                    <td>
                        <!-- <a href="" ng-click="edit(detail.id)">Deactivate</a>
                         <br/> -->
                        <a href="" ng-click="delete(detail.id)">Delete</a> 
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>




<!-- <div ng-controller="QuestionsController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 question-section">
                <h2>Questionaire</h2>

                <form ng-submit="addQuestion()">
                    <div class="input-question">
                        <input type="text" ng-model="todoInput" id="question-text" size="50"
                               placeholder="Enter your question">
                    </div>
                    <div class="pull-left">
                        <ul>
                            <li ng-repeat="x in todoList">
                                <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
                            </li>
                            <li></li>
                            <li>
                                <p class="add-button">
                                    <button type="submit" id="add-questions-btn" class="btn btn-info"
                                            ng-click="AddQuestions()">Add Question
                                    </button>
                                </p>
                            </li>
                        </ul>
                    </div>
                </form>

                <!-- <div class="col-md-9">
                    <p class="signin button">
                        <button ng-click="remove()" type="submit" class="btn btn-info">Remove Question</button>
                    </p>
                </div> 
            </div>
        </div>
    </div>
</div> -->
