<div ng-controller="QuestionsController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 question-section">
                <h2>Questionaire</h2>

                <form ng-submit="addQuestion()">
                    <div class="input-question">
                        <input type="text" ng-model="todoInput" id="question-text" size="50"
                               placeholder="Enter your question">
                    </div>
                    <div class="pull-left">
                        <ul>
                            <li ng-repeat="x in todoList">
                                <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
                            </li>
                            <li>
                                <p class="add-button">
                                    <button type="submit" id="add-questions-btn" class="btn btn-info"
                                            ng-click="AddQuestions()">Add Question
                                    </button>
                                </p>
                            </li>
                        </ul>
                    </div>
                </form>

                <!-- <div class="col-md-9">
                    <p class="signin button">
                        <button ng-click="remove()" type="submit" class="btn btn-info">Remove Question</button>
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</div>
